@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:#fbe3e8;
}

.glass-container {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    backdrop-filter: blur(20px); /* Apply blur effect */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
